.div.container
  .row
    .col-sm-1
      .thumbnail
        = link_to user_path(comment.user) do
          = comment.user_avatar
    .col-sm-7
      .panel.panel-default
        .panel-heading
          %strong= comment.author
          %span.text-muted= comment.commented_at
          - if can? :manage, comment
            = link_to post_comment_path(comment.post, comment), method: :delete, data: { confirm: 'Are you sure?' } do
              %span.glyphicon.glyphicon-remove.pull-right
        .panel-body
          = comment.content
