%hr/
.container
  .row
    .col-sm-10
      .row
        %h1.user-name= @user.name
        - if @user.admin?
          = image_tag "admin.png", class: "admin-badge"
      - if can? :manage, user
        = button_to 'Edit profile', edit_user_registration_path, class: 'btn btn-success btn-edit', method: :get
    .col-sm-2
      = @user.avatar
  .row
    .col-sm-3
      = render 'profile_info'
      = render 'bio'
      = render 'website'
      = render 'activity'
    .col-sm-9
      = render 'recent_posts'
