.container
  .row
    .col-sm-12
      %h2 Create Post
      = simple_form_for post, class: 'form-horizontal' do |f|
        .form-group.row
          = f.label :title, class: 'col-sm-2 control-label'
          .col-sm-5
            = f.input :title, :autofocus => true, class: 'form-control', label: false
        .form-group.row
          = f.label :content, class: 'col-sm-2 control-label'
          .col-sm-5
            = f.input :content, :autofocus => true, class: 'form-control', label: false
        .row
          .col-sm-7
            .pull-right
              = f.submit "Post", class: 'btn btn-success'


