.panel.panel-default
  .panel-heading
    .text-right
      %p= @post.written_at
    %h1= @post.title
    -if @post.created_at != @post.updated_at
      %p (edited)
  .panel-content.post-content
    %p= @post.content
    .text-right
      %h5= link_to @post.author, user_path(@post.user_id)
      - if can? :manage, post
        .btn.btn-danger
          = link_to 'Destroy', user_post_path(@post.user, @post), method: :delete, data: { confirm: 'Are you sure?' }
        .btn.btn-primary
          = link_to 'Edit Post', edit_post_path(@post)
= render 'comments/new'
= render 'comments/comments', comments: @post.comments


