.panel.panel-default
  .panel-heading
    .text-right
      %p= @post.written_at
    %h1= @post.title
  .panel-content.post-content
    %p= @post.content
    .text-right
      %h5= link_to @post.author, user_path(@post.user_id)
      - if current_user.id == post.user_id
        .btn.btn-danger
          = link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }
        .btn.btn-primary
          = link_to 'Edit Post', edit_post_path(@post)


